# Trasformazioni

prepariamo il Dataset per le analisi successive: Clustering; Classification; Association.

1) Clustering:

abbiamo bisogno dei soli attributi numerici standardizzati. Inoltre il dataset è troppo grosso, quindi operiamo un Sample su di esso condizionato a raggruppamenti categorici

2) Classification:


3) Association:

** Import DataSet e Librerie Data Understanding **

In [1]:
%matplotlib inline
import math
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt

from collections import defaultdict
from scipy.stats.stats import pearsonr

df = pd.read_csv('Training_DU.csv')

In [2]:
df['Model'].nunique()

261

In [3]:
df['SubModel'].nunique()

38

In [4]:
df['VehYear'].nunique()

10

** 1) Tasformazioni per il Clustering **

Operiamo un Sample sul DataSet condizionato a raggruppamenti categorici

In [5]:
def Sample_df(x):
    return x.sample(frac=0.1, replace=True, random_state=1)

In [6]:
df = df.groupby([df['Model'], df['SubModel'], df['VehYear']]).apply(Sample_df)

In [36]:
df.count()

VehYear                              0
WheelTypeID                          0
VehOdo                               0
MMRAcquisitionAuctionAveragePrice    0
MMRAcquisitionRetailAveragePrice     0
MMRCurrentAuctionAveragePrice        0
MMRCurrentRetailAveragePrice         0
VehBCost                             0
WarrantyCost                         0
NationalityID                        0
MakeID                               0
SubModelID                           0
dtype: int64

In [8]:
df['Model'].nunique()

175

In [9]:
df['SubModel'].nunique()

24

In [10]:
df['VehYear'].nunique()

9

eliminiamo tutti gli attributi non numerici

In [11]:
df.dtypes

RefId                                  int64
IsBadBuy                               int64
PurchDate                             object
Auction                               object
VehYear                                int64
VehicleAge                             int64
Make                                  object
Engine                                object
Trim                                  object
Transmission                          object
WheelTypeID                          float64
VehOdo                                 int64
Nationality                           object
Size                                  object
MMRAcquisitionAuctionAveragePrice    float64
MMRAcquisitionRetailAveragePrice     float64
MMRCurrentAuctionAveragePrice        float64
MMRCurrentRetailAveragePrice         float64
BYRNO                                  int64
VNZIP1                                 int64
VNST                                  object
VehBCost                             float64
IsOnlineSale                           int64
WarrantyCost                           int64
Model                                 object
Doors                                 object
SubModel                              object
dtype: object

In [12]:
del df['RefId']
del df['IsBadBuy']
del df['PurchDate']
del df['VehicleAge'] #aggiunto così conserviamo solo uno, ricordiamoci di inserire che lo aliminiamo poichè dato ridondante
del df['Auction']
#del df['Make']
del df['Engine']
del df['Trim']
del df['Transmission']
del df['Size']
del df['BYRNO']
del df['VNZIP1']
del df['VNST']
del df['IsOnlineSale']
del df['Model']
#del df['SubModel']
del df['Doors']
#eliminato i codici che cancellavano le variabili WheelTypeID,Transmission,Nationality
#per trasformarle in variabili numeriche e usarle per fare diverse prove con la k-means analisi

# Trasformazioni variabili categoriche in numeriche.

In [13]:
#1 TRANSMISSION
#df['Transmission'].unique()

In [14]:
#transm = sorted(df['Transmission'].unique())
#transm_mapping = dict(zip(transm, range(0, len(transm) + 1)))
#transm_mapping

In [15]:
#df['TransmissionID'] = df['Transmission'].map(transm_mapping).astype(int)
#df[['Transmission', 'TransmissionID']].head()

In [16]:
#2 NATIONALITY
df['Nationality'].unique()

array(['AMERICAN', 'NOT AMERICA'], dtype=object)

In [17]:
nation = sorted(df['Nationality'].unique())
nation_mapping = dict(zip(nation, range(0, len(nation) + 1)))
nation_mapping

{'AMERICAN': 0, 'NOT AMERICA': 1}

In [18]:
df['NationalityID'] = df['Nationality'].map(nation_mapping).astype(int)
df[['Nationality', 'NationalityID']].head()

                                Nationality  NationalityID
Model    SubModel VehYear
1500 RAM QUAD CAB 2002    44767    AMERICAN              0
                          52892    AMERICAN              0
                          14411    AMERICAN              0
                          8599     AMERICAN              0
                          9833     AMERICAN              0

In [19]:
#3 Make
df['Make'].nunique()

28

In [20]:
making = sorted(df['Make'].unique())
making_mapping = dict(zip(making, range(0, len(making) + 1)))
making_mapping

{'ACURA': 0,
 'BUICK': 1,
 'CADILLAC': 2,
 'CHEVROLET': 3,
 'CHRYSLER': 4,
 'DODGE': 5,
 'FORD': 6,
 'GMC': 7,
 'HONDA': 8,
 'HYUNDAI': 9,
 'INFINITI': 10,
 'ISUZU': 11,
 'JEEP': 12,
 'KIA': 13,
 'LEXUS': 14,
 'LINCOLN': 15,
 'MAZDA': 16,
 'MERCURY': 17,
 'MITSUBISHI': 18,
 'NISSAN': 19,
 'OLDSMOBILE': 20,
 'PONTIAC': 21,
 'SATURN': 22,
 'SCION': 23,
 'SUZUKI': 24,
 'TOYOTA': 25,
 'VOLKSWAGEN': 26,
 'VOLVO': 27}

In [21]:
df['MakeID'] = df['Make'].map(making_mapping).astype(int)
df[['Make', 'MakeID']].head()

                                  Make  MakeID
Model    SubModel VehYear
1500 RAM QUAD CAB 2002    44767  DODGE       5
                          52892  DODGE       5
                          14411  DODGE       5
                          8599   DODGE       5
                          9833   DODGE       5

In [22]:
#4 SubModel
df['SubModel'].nunique()

24

In [23]:
submod= sorted(df['SubModel'].unique())
submod_mapping = dict(zip(submod, range(0, len(submod) + 1)))
submod_mapping

{'CONVERTIBLE': 0,
 'COUPE': 1,
 'COUPE QUAD': 2,
 'CREW CAB': 3,
 'CROSSOVER': 4,
 'CUV': 5,
 'EXT CAB': 6,
 'HATCHBACK': 7,
 'MAZDA3': 8,
 'MAZDA5': 9,
 'MINIVAN': 10,
 'MINIVAN EXT': 11,
 'PASSENGER': 12,
 'PASSENGER EXT': 13,
 'QUAD CAB': 14,
 'REG CAB': 15,
 'SEDAN': 16,
 'SPORT': 17,
 'SPORTBACK': 18,
 'SUV': 19,
 'SUV-PICKUP': 20,
 'UTILITY': 21,
 'UTILITY SPORT': 22,
 'WAGON': 23}

In [24]:
df['SubModelID'] = df['SubModel'].map(submod_mapping).astype(int)
df[['SubModel', 'SubModelID']].head()

                                 SubModel  SubModelID
Model    SubModel VehYear
1500 RAM QUAD CAB 2002    44767  QUAD CAB          14
                          52892  QUAD CAB          14
                          14411  QUAD CAB          14
                          8599   QUAD CAB          14
                          9833   QUAD CAB          14

In [ ]:
#4 TopThreeAmericanName
#df['TopThreeAmericanName'].nunique()

In [ ]:
#top3= sorted(df['TopThreeAmericanName'].unique())
#top3_mapping = dict(zip(top3, range(0, len(top3) + 1)))
#top3_mapping

In [ ]:
#df['Top3AmerNamID'] = df['TopThreeAmericanName'].map(top3_mapping).astype(int)
#df[['TopThreeAmericanName', 'Top3AmerNamID']].head()

In [25]:
df.dtypes

VehYear                                int64
Make                                  object
WheelTypeID                          float64
VehOdo                                 int64
Nationality                           object
MMRAcquisitionAuctionAveragePrice    float64
MMRAcquisitionRetailAveragePrice     float64
MMRCurrentAuctionAveragePrice        float64
MMRCurrentRetailAveragePrice         float64
VehBCost                             float64
WarrantyCost                           int64
SubModel                              object
NationalityID                          int32
MakeID                                 int32
SubModelID                             int32
dtype: object

Ora elimino le variabili originali, ricordiamoci di aggiungere queste trasformazioni nel report.

In [26]:
del df['Nationality'] 
#del df['Transmission']
del df['Make'] 
del df['SubModel']
#del df['TopThreeAmericanName']

In [27]:
df.head()

                                 VehYear  WheelTypeID  VehOdo  \
Model    SubModel VehYear
1500 RAM QUAD CAB 2002    44767     2002          1.0   71733
                          52892     2002          1.0   58350
                          14411     2002          1.0   92100
                          8599      2002          1.0   74233
                          9833      2002          1.0   92075

                                 MMRAcquisitionAuctionAveragePrice  \
Model    SubModel VehYear
1500 RAM QUAD CAB 2002    44767                             5191.0
                          52892                             5617.0
                          14411                             6979.0
                          8599                              3499.0
                          9833                              6322.0

                                 MMRAcquisitionRetailAveragePrice  \
Model    SubModel VehYear
1500 RAM QUAD CAB 2002    44767                            8466.0
                          52892                            6566.0
                          14411                           11192.0
                          8599                             4279.0
                          9833                            10326.0

                                 MMRCurrentAuctionAveragePrice  \
Model    SubModel VehYear
1500 RAM QUAD CAB 2002    44767                         5831.0
                          52892                         5617.0
                          14411                         6622.0
                          8599                          3942.0
                          9833                          7111.0

                                 MMRCurrentRetailAveragePrice  VehBCost  \
Model    SubModel VehYear
1500 RAM QUAD CAB 2002    44767                        8452.0    8115.0
                          52892                        6566.0    6455.0
                          14411                       10484.0    9235.0
                          8599                         6841.0    8100.0
                          9833                        10864.0    9285.0

                                 WarrantyCost  NationalityID  MakeID  \
Model    SubModel VehYear
1500 RAM QUAD CAB 2002    44767          1220              0       5
                          52892          1054              0       5
                          14411          2362              0       5
                          8599           1220              0       5
                          9833           2362              0       5

                                 SubModelID
Model    SubModel VehYear
1500 RAM QUAD CAB 2002    44767          14
                          52892          14
                          14411          14
                          8599           14
                          9833           14

In [28]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [29]:
scaler = StandardScaler()
Clustering_df = scaler.fit_transform(df)
Clustering_df = pd.DataFrame(Clustering_df, columns=['VehYear', 'WheelTypeID', 'VehOdo', 'MMRAcquisitionAuctionAveragePrice',
                                            'MMRAcquisitionRetailAveragePrice', 'MMRCurrentAuctionAveragePrice',
                                            'MMRCurrentRetailAveragePrice', 'VehBCost', 'WarrantyCost','NationalityID',
                                            'MakeID','SubModelID',])
#'TransmissionID'

In [30]:
Clustering_df.head()

,VehYear,WheelTypeID,VehOdo,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionRetailAveragePrice,MMRCurrentAuctionAveragePrice,MMRCurrentRetailAveragePrice,VehBCost,WarrantyCost,NationalityID,MakeID,SubModelID
0,-1.959593,-0.922729,0.002818,-0.419605,-0.037495,-0.138162,-0.126509,0.822464,-0.098482,-0.43002,-0.468795,-0.285751
1,-1.959593,-0.922729,-0.913678,-0.236393,-0.674581,-0.229808,-0.764070,-0.139944,-0.376187,-0.43002,-0.468795,-0.285751
2,-1.959593,-0.922729,1.397593,0.349368,0.876556,0.200584,0.560407,1.471799,1.811994,-0.43002,-0.468795,-0.285751
3,-1.959593,-0.922729,0.174023,-1.147291,-1.441432,-0.947127,-0.671106,0.813767,-0.098482,-0.43002,-0.468795,-0.285751
4,-1.959593,-0.922729,1.395881,0.066809,0.586179,0.409999,0.688866,1.500787,1.811994,-0.43002,-0.468795,-0.285751

In [31]:
Clustering_df.tail()

,VehYear,WheelTypeID,VehOdo,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionRetailAveragePrice,MMRCurrentAuctionAveragePrice,MMRCurrentRetailAveragePrice,VehBCost,WarrantyCost,NationalityID,MakeID,SubModelID
5730,-0.793435,-0.922729,1.818142,1.012542,1.422103,1.353863,1.594162,2.193605,1.069217,-0.43002,-0.167912,1.215359
5731,-1.376514,-0.922729,0.974100,0.276685,-0.242369,0.281095,-0.328324,1.964598,1.311790,-0.43002,-0.167912,1.215359
5732,-1.376514,-0.922729,0.750574,0.771701,1.007662,0.360322,0.682443,2.045765,1.311790,-0.43002,-0.167912,1.215359
5733,-0.793435,-0.922729,-0.240910,1.462400,0.755845,1.461782,0.678049,2.095045,0.221046,-0.43002,-0.167912,1.215359
5734,0.372723,-0.922729,0.030553,1.727756,1.850628,1.694322,1.865954,1.338453,-0.011491,-0.43002,1.035621,0.143137

In [32]:
# scaler.inverse_transform(scaler.transform(df.head().values))

** 2) Tasformazioni per la Classification **

** 3) Tasformazioni per la Association **

# Files in Output per le analisi successive

** - File per il Clustering **

In [33]:
Clustering_df.to_csv(path_or_buf='Training_DU_Clustering.csv' ,index=False)

** - File per la Classification **

In [34]:
#Classification_df.to_csv(path_or_buf='Training_DU_Classification.csv' ,index=False)

** - File per la Association Rule **

In [35]:
#Association_df.to_csv(path_or_buf='Training_DU_Association.csv' ,index=False)