In [1]:
%matplotlib inline
import math
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt

from collections import defaultdict
from scipy.stats.stats import pearsonr

In [2]:
df = pd.read_csv("Training_Set.csv")

In [3]:
df.head()

,RefId,IsBadBuy,PurchDate,Auction,VehYear,VehicleAge,Make,Engine,Trim,SubModelSpecifics,...,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost,Model,Wheeldrive,Doors,SubModel
0,326,1,2010-10-25,ADESA,2008,2,KIA,NaN,EX,NaN,...,5546,33619,FL,6100.0,0,533,SPECTRA,NaN,4D,SEDAN
1,42991,0,2009-05-27,MANHEIM,2006,3,DODGE,2.7L,SXT,FFV,...,99750,32124,FL,4000.0,0,1630,STRATUS,NaN,4D,SEDAN
2,55273,0,2010-03-18,OTHER,2008,2,DODGE,NaN,SE,NaN,...,99761,74135,OK,7500.0,0,693,CALIBER,NaN,4D,WAGON
3,29058,0,2009-08-06,OTHER,2005,4,FORD,3.9L,S,NaN,...,99761,85018,AZ,4725.0,0,1633,FREESTAR,2WD,NaN,PASSENGER
4,34991,0,2009-04-03,MANHEIM,2005,4,CHRYSLER,V6,BAS,NaN,...,20833,75236,TX,5670.0,0,1623,TOWN & COUNTRY,2WD,NaN,MINIVAN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58386 entries, 0 to 58385
Data columns (total 38 columns):
RefId                                58386 non-null int64
IsBadBuy                             58386 non-null int64
PurchDate                            58386 non-null object
Auction                              58386 non-null object
VehYear                              58386 non-null int64
VehicleAge                           58386 non-null int64
Make                                 58386 non-null object
Engine                               38804 non-null object
Trim                                 56593 non-null object
SubModelSpecifics                    9295 non-null object
Color                                58379 non-null object
Transmission                         58378 non-null object
WheelTypeID                          55813 non-null float64
WheelType                            55809 non-null object
VehOdo                               58386 non-null int64
Nationality                          58382 non-null object
Size                                 58382 non-null object
TopThreeAmericanName                 58382 non-null object
MMRAcquisitionAuctionAveragePrice    58373 non-null float64
MMRAcquisitionAuctionCleanPrice      58373 non-null float64
MMRAcquisitionRetailAveragePrice     58373 non-null float64
MMRAcquisitonRetailCleanPrice        58373 non-null float64
MMRCurrentAuctionAveragePrice        58141 non-null float64
MMRCurrentAuctionCleanPrice          58141 non-null float64
MMRCurrentRetailAveragePrice         58141 non-null float64
MMRCurrentRetailCleanPrice           58141 non-null float64
PRIMEUNIT                            2683 non-null object
AUCGUART                             2683 non-null object
BYRNO                                58386 non-null int64
VNZIP1                               58386 non-null int64
VNST                                 58386 non-null object
VehBCost                             58386 non-null float64
IsOnlineSale                         58386 non-null int64
WarrantyCost                         58386 non-null int64
Model                                58386 non-null object
Wheeldrive                           17854 non-null object
Doors                                50649 non-null object
SubModel                             58379 non-null object
dtypes: float64(10), int64(9), object(19)
memory usage: 16.9+ MB

In [5]:
#NON PRENDO IN CONSIDERAZIONE LA CLASSE OTHER QUINDI ELIMINO LE RELATIVE RIGHE PER SICUREZZA
dt=df[df.TopThreeAmericanName != 'OTHER']

In [6]:
dt['TopThreeAmericanName'].unique()

array(['CHRYSLER', 'FORD', 'GM', nan], dtype=object)

Non era possibile confrontare Make e top3 poichÃ¨ in make vi erano 4 righe in piÃ¹ che coincidevano con i missing value della variabile top3,quindi per poter utilizzare il codice avevo bisogno di eliminare quelle 4 righe.
Ho prima provato ad utilizzare il codice "df.dropna(subset=['TopThreeAmericanName'])" che avrebbe dovuto eliminare le righe vuote analizzando solo la variabile in parentesi, non dava errori ma non eliminava le righe dove eranno presenti i nan value nella variabile TopThreeAmericanName, e non cambiava nulla neanche resettando il kernel. Dopo aver provato per piÃ¹ tempo mi sono arresa. Invece utilizzando il codice "dt.dropna" eliminava correttamente i valori nulli ma tenendo in considerazione tutte le variabili, cosÃ¬ ho deciso di creare un subset composto solo dalle variabili che volevo confrontare. Ma non sono riuscita a definire un nuovo DataFrame composto solo dalle colonne che mi interessavano quindi come ultima risorsa ho eliminato manualmente tutte le altre variabili.

In [7]:
#df=dt[['TopThreeAmericanName', 'Make']]

In [8]:
column2drop = ['RefId', 'IsBadBuy', 'PurchDate', 'Auction', 'VehYear','VehicleAge','Engine','Trim','SubModelSpecifics','Color',
               'Transmission','WheelTypeID','WheelType','VehOdo','Nationality','Size','MMRAcquisitionAuctionAveragePrice','MMRAcquisitionAuctionCleanPrice',
               'MMRAcquisitionRetailAveragePrice','MMRAcquisitonRetailCleanPrice','MMRCurrentAuctionAveragePrice','MMRCurrentAuctionCleanPrice',
               'MMRCurrentRetailAveragePrice','MMRCurrentRetailCleanPrice','PRIMEUNIT','AUCGUART','BYRNO','VNZIP1','VNST',
               'VehBCost','IsOnlineSale','WarrantyCost','Model','Wheeldrive','Doors','SubModel']
dt.drop(column2drop, axis=1, inplace=True)

C:\Users\aine2\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [9]:
dt = dt.dropna()
dt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48800 entries, 1 to 58385
Data columns (total 2 columns):
Make                    48800 non-null object
TopThreeAmericanName    48800 non-null object
dtypes: object(2)
memory usage: 1.1+ MB

In [11]:
dt['coinc'] = np.where((dt['TopThreeAmericanName'] == dt['Make'])
                      ,dt['TopThreeAmericanName'], np.nan)

In [12]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48800 entries, 1 to 58385
Data columns (total 3 columns):
Make                    48800 non-null object
TopThreeAmericanName    48800 non-null object
coinc                   16093 non-null object
dtypes: object(3)
memory usage: 1.5+ MB

Ho verificato i 32707 casi in cui il top3 non coincide con il make. In realtÃ  coincido anche questi dati poichÃ¨ la classe presente in "Make" non Ã¨ altro che Ã¨ un marchio che appartiene alla casa produttrice presente nel TopThreeAmericanName. I casi riscontrati sono i seguenti:

-GM: BUICK, CADILLAC, CHEVROLET, SATURN(attualmente chiusa), Pontiac(attualmente chiusa), OLDSMOBILE(attualmente chiusa),
    GMC(attualmente chiusa), HUMMER(attualmente chiusa, solo 1 nel db)

-CHRYSLER: PLYMOUTH(attualmente chiusa, solo 1 nel db), Dodge, Jeep

-FORD: Lincoln(lusso), Mercury(attualmente chiusa)