In [63]:
%matplotlib inline
import math
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt

from collections import defaultdict
from scipy.stats.stats import pearsonr

df = pd.read_csv('TrainingSetNoMissingValue.csv')
df["PurchDate"] = df["PurchDate"].astype("datetime64")
dfold["PurchDate"] = dfold["PurchDate"].astype("datetime64")

In [64]:
df.head()

,RefId,IsBadBuy,PurchDate,Auction,VehYear,VehicleAge,Make,Engine,Trim,SubModelSpecifics,...,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost,Model,Wheeldrive,Doors,SubModel
0,326,1,2010-10-25,ADESA,2008,2,KIA,NaN,EX,NaN,...,5546,33619,FL,6100.0,0,533,SPECTRA,NaN,4D,SEDAN
1,42991,0,2009-05-27,MANHEIM,2006,3,DODGE,2.7L,SXT,FFV,...,99750,32124,FL,4000.0,0,1630,STRATUS,NaN,4D,SEDAN
2,55273,0,2010-03-18,OTHER,2008,2,DODGE,NaN,SE,NaN,...,99761,74135,OK,7500.0,0,693,CALIBER,NaN,4D,WAGON
3,29058,0,2009-08-06,OTHER,2005,4,FORD,3.9L,S,NaN,...,99761,85018,AZ,4725.0,0,1633,FREESTAR,2WD,NaN,PASSENGER
4,34991,0,2009-04-03,MANHEIM,2005,4,CHRYSLER,V6,BAS,NaN,...,20833,75236,TX,5670.0,0,1623,TOWN & COUNTRY,2WD,NaN,MINIVAN

In [65]:
Variable='MMRAcquisitionAuctionAveragePrice'

In [66]:
dff = df[Variable].groupby([df['PurchDate'], df['Model'], df['SubModel'], df['VehYear']]).var().reset_index()

In [67]:
dff.rename(columns={Variable:'Varianza'}, inplace=True)

In [68]:
dff['Varianza'] = dff['Varianza'].fillna(0)

In [69]:
mergedDF = pd.merge(dff, df, on=['PurchDate','Model', 'SubModel', 'VehYear'],  how='left')

In [70]:
mergedDF = mergedDF.loc[mergedDF['Varianza']<=250000]

In [71]:
df = mergedDF.drop(['Varianza'], axis=1)

In [72]:
df

,PurchDate,Model,SubModel,VehYear,RefId,IsBadBuy,Auction,VehicleAge,Make,Engine,...,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost,Wheeldrive,Doors
0,2009-01-04,1500 RAM,QUAD CAB,2002,62472,0,ADESA,7,DODGE,5.9L,...,NaN,NaN,20234,85226,AZ,7940.0,0,1125,2WD,NaN
1,2009-01-04,1500 RAM,QUAD CAB,2003,16342,0,MANHEIM,6,DODGE,5.7L,...,NaN,NaN,19619,32824,FL,9400.0,0,1220,2WD,NaN
5,2009-01-04,1500 RAM,QUAD CAB,2005,16344,0,MANHEIM,4,DODGE,5.7L,...,NaN,NaN,19619,32824,FL,10000.0,0,920,2WD,NaN
6,2009-01-04,300,SEDAN,2006,62463,0,ADESA,3,CHRYSLER,2.7L MPI,...,NaN,NaN,20234,85226,AZ,9505.0,0,1389,NaN,4D
7,2009-01-04,300,SEDAN,2006,20574,0,MANHEIM,3,CHRYSLER,2.7L MPI,...,NaN,NaN,20833,75236,TX,10050.0,0,1215,NaN,4D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57490,2010-12-30,GRAND VITARA,UTILITY SPORT,2006,68096,1,ADESA,4,SUZUKI,NaN,...,NaN,NaN,52598,28273,NC,7470.0,0,920,2WD,4D
57491,2010-12-30,MALIBU,SEDAN,2005,60722,1,MANHEIM,5,CHEVROLET,4C,...,NaN,NaN,21047,92337,CA,4395.0,0,1243,NaN,4D
57492,2010-12-30,SPECTRA,SEDAN,2006,70450,0,ADESA,4,KIA,NaN,...,NO,GREEN,20740,32219,FL,5350.0,0,482,NaN,4D
57493,2010-12-30,TAURUS,SEDAN,2006,68098,0,ADESA,4,FORD,NaN,...,NO,GREEN,52598,28273,NC,5145.0,0,825,NaN,4D
57494,2010-12-30,TRAILBLAZER,SUV,2005,70446,0,ADESA,5,CHEVROLET,6C,...,NO,GREEN,20740,32219,FL,8200.0,0,1155,2WD,4D

In [73]:
Variable='MMRAcquisitionRetailAveragePrice'

In [74]:
dff = df[Variable].groupby([df['PurchDate'], df['Model'], df['SubModel'], df['VehYear']]).var().reset_index()

In [75]:
dff.rename(columns={Variable:'Varianza'}, inplace=True)

In [76]:
dff['Varianza'] = dff['Varianza'].fillna(0)

In [77]:
mergedDF = pd.merge(dff, df, on=['PurchDate','Model', 'SubModel', 'VehYear'],  how='left')

In [78]:
mergedDF = mergedDF.loc[mergedDF['Varianza']<=250000]

In [79]:
df2 = mergedDF.drop(['Varianza'], axis=1)

In [80]:
df2

,PurchDate,Model,SubModel,VehYear,RefId,IsBadBuy,Auction,VehicleAge,Make,Engine,...,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost,Wheeldrive,Doors
0,2009-01-04,1500 RAM,QUAD CAB,2002,62472,0,ADESA,7,DODGE,5.9L,...,NaN,NaN,20234,85226,AZ,7940.0,0,1125,2WD,NaN
1,2009-01-04,1500 RAM,QUAD CAB,2003,16342,0,MANHEIM,6,DODGE,5.7L,...,NaN,NaN,19619,32824,FL,9400.0,0,1220,2WD,NaN
2,2009-01-04,1500 RAM,QUAD CAB,2005,16344,0,MANHEIM,4,DODGE,5.7L,...,NaN,NaN,19619,32824,FL,10000.0,0,920,2WD,NaN
3,2009-01-04,300,SEDAN,2006,62463,0,ADESA,3,CHRYSLER,2.7L MPI,...,NaN,NaN,20234,85226,AZ,9505.0,0,1389,NaN,4D
4,2009-01-04,300,SEDAN,2006,20574,0,MANHEIM,3,CHRYSLER,2.7L MPI,...,NaN,NaN,20833,75236,TX,10050.0,0,1215,NaN,4D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51902,2010-12-30,GRAND VITARA,UTILITY SPORT,2006,68096,1,ADESA,4,SUZUKI,NaN,...,NaN,NaN,52598,28273,NC,7470.0,0,920,2WD,4D
51903,2010-12-30,MALIBU,SEDAN,2005,60722,1,MANHEIM,5,CHEVROLET,4C,...,NaN,NaN,21047,92337,CA,4395.0,0,1243,NaN,4D
51904,2010-12-30,SPECTRA,SEDAN,2006,70450,0,ADESA,4,KIA,NaN,...,NO,GREEN,20740,32219,FL,5350.0,0,482,NaN,4D
51905,2010-12-30,TAURUS,SEDAN,2006,68098,0,ADESA,4,FORD,NaN,...,NO,GREEN,52598,28273,NC,5145.0,0,825,NaN,4D
51906,2010-12-30,TRAILBLAZER,SUV,2005,70446,0,ADESA,5,CHEVROLET,6C,...,NO,GREEN,20740,32219,FL,8200.0,0,1155,2WD,4D

In [81]:
df.to_csv(path_or_buf='TrainingSetcorrettosoloasta.csv' ,index=False)

In [82]:
df2.to_csv(path_or_buf='TrainingSetcorretto.csv' ,index=False)